.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden;
    opacity: 0; */
  }
  /* .overlay:target {
    visibility: visible;
    opacity: 1;
  } */
  
  .popup {
    margin: 140px auto;
    padding: 20px;
    background: #fff;
    width: 32%;
    height: 42%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .headText{
   position: relative;
   top: -10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    font-family: 'Arial Narrow Bold', sans-serif;
  }

  .paraText{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #333;
    font-family: 'Poppins';
    font-weight: 600;


  }
  .popupcontent{
      margin: 20px 10px 0 10px;
      width: 100%;
      text-align: center;
  }

  #confirmation{
      margin: 0 10px 0 0;
      width: 25px;
      height: 25px;
      position: relative;
      top: 10px;
  }

  .popupcontent label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

.uploadButton{
  display: flex;
  width: 160px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(158, 201, 40);
  border: solid 1px rgb(158, 201, 40);
  margin: auto;
  
 
}

  .confirmExit {
    position: absolute;
    bottom: 10%;
    left: 240px; 
    transition: all 200ms;
    font-size: 13px;
    text-decoration: none;
    color: white;
    width: 160px;
    height: 30px;
    background-color: rgb(9, 34, 5);
    font-family: 'Poppins', sans-serif;
    

    margin-left: 20px;
  }

  .confirmExit p{
      margin-top: 6px;
      text-align: center;
  }

  .confirmPublish p{
      margin: 6px;
      text-align: center;
      font-family: 'Poppins', sans-serif;

        font-size: 13px;
  }
  .confirmPublish{
        position: absolute;
        bottom: 10%;
        left: 50px; 
        
        width: 160px;
        height: 30px;
        border: none;
        background-color: rgb(158, 201, 40);
        color: white;

        text-decoration: none;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
    
  }
