.newMemberForm {
    margin: 30px;
    margin-left: 100px;
    height: 500px;
}

.mainTag {
    text-align: left;
    margin-top: 30px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

table {
    width: 70%;
}

.col1 {
    text-align: left;
    margin-top: 12px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

.col2 {
    text-align: left;
    margin-top: 12px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

input {
    display: block;
    margin-top: 1px;
    height: 25px;
    width: 350px;
}

label {
    text-align: left;
    margin-top: 50px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

.mainTag {
    text-align: left;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

th {
    height: 85px;
}

.nominatedBy {
    margin-top: 65px;
    margin-bottom: 50px;
}

.approveButton {
    background-color: #93ad1f;
    color: white;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 350px;
}

.backButton {
    background-color: #003824;
    color: white;
    padding: 14px 20px;
    margin: 25px 0 0 16px;
    border: none;
    cursor: pointer;
    width: 200px;
}